body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}

#eventList div {
    margin-top: 20px;
    padding: 10px;
    background-color: grey;
    border: 1px solid black;
}

button {
    cursor: pointer;
}

[contenteditable="true"] {
    border: 1px solid black !important;
    padding: 5px !important;
    background-color: white !important;
    display: inline-block !important;
    min-width: 100px !important;
}
